/*
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .bg-dark-blue {
      @apply bg-[#0a3a5d];
    }
    .bg-white-geo-mask {
      background: #ffffff;
      mask-image: radial-gradient(circle at left, white 50%, transparent 51%);
      -webkit-mask-image: radial-gradient(circle at left, white 50%, transparent 51%);
    }
  }

  */

  
@layer tailwind-base, primereact, tailwind-utilities;

/* IMPORTANT: In "styled" mode you must add the PrimeReact Theme here. Do NOT include in "unstyled" mode */
@import 'primereact/resources/themes/lara-light-blue/theme.css' layer(primereact);

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}
